body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background: #344955;
    color: white;
    padding: 20px;
}
button {
    background: #f9aa33;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin: 5px;
}
button:hover{
     box-shadow: 0px 3px 5px 0px #e4e4e4;
}
.bg-blue {
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.categories{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
#recette-list {
    margin: 50px;
    padding: 0;
}
#recette-list li{
    display: flex;
    flex-direction: column;
}
#recette-list li span{
    margin-top: 20px;
    color: #f9aa33;
}
.recette-item {
    cursor: pointer;
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    color: #344955;
    margin-top: 20px;
    display: flex;
    padding: 20px;
    text-align: left;
}
.recette-details {
    display: none;
    background: #F4F4F4;
    padding: 10px;
    margin-top: 5px;
}
#recette-form {
    padding: 20px;
    background-color: #344955;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.div {
    text-align: left;
}
.div p {
    color: white;
    width: min(100%, 50rem);
}
.div textarea {
    width: min(100%, 50rem);
    border-radius: 5px;
    min-width: min(100%, 50rem);
    max-width: min(100%, 50rem);
    min-height: 100px;
    max-height: 200px;
}
.div textarea:focus {
    outline: none;
}
.div input {
    position: relative;
    outline: none;
    width: min(100%, 50rem);
    border-radius: 5px;
    border: none;
    height: 30px;
}
.div input:focus {
    outline: none;
}
#categorie {
    width: auto;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
#ingredients input {
    width: 100%;
    padding: 5px;
    border: none;
}
#ingredients input:focus {
    outline: none;
}
#recette-form .btn {
    background-color: transparent;
    box-shadow: none;
}
#recette-form .div {
    width: max-content;
}
#recette-form .add_ingredients {
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: none;
}
footer {
    background-color: #344955;
    padding: 50px;
}

footer p {
    color: white;
}

footer p span a {
    text-decoration: none;
    color: #f9aa33;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .bg-blue {
        background-color: #eaeaea;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }

    .ajout-recette {
        padding: 20px;
    }
}