body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background: #2C3E50;
    color: white;
    padding: 20px;
}
button {
    background: orange;
    border: none;
    padding: 10px;
    margin: 5px;
}
.recette-item {
    cursor: pointer;
    list-style-type: none;
}
.recette-details {
    display: none;
    background: #F4F4F4;
    padding: 10px;
    margin-top: 5px;
}